*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}
nav{
    position: fixed;
    z-index: 900;
    margin: 20px 20px;
    right: 0px;
    
}
li{
    display: inline-block;
}
.opzione-menu{
    text-align: center;
    margin: 0 10px;
    font-size: 50px;
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    padding:0 10px;
}
.box{
    width: 100%;
    height: 100vh;
    position: relative;
}
.descrizione-scarpa{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    
    color:yellow;
    text-transform: uppercase;
    text-align: center;
}
.descrizione-scarpa:hover{
    text-shadow: 20px 2px black;
}

#scarpa-1{
    background-color: red;
}
#scarpa-2{
    background-color: green;
}
#scarpa-3{
    background-color: blue;
}
